/*.player-bookmark{
    display: grid;
    grid-template-areas: 
    "avatar info";
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows:auto;
    grid-template-columns: auto;
    padding-left: 10px;
    padding-right: 10px;
    align-self: stretch;
    height: 50px;
    width: 200px;
}


.name{
    max-width: 100%;
    max-height: 100%;
    background: transparent;
    font-size: 0.75rem;
}
*/
.bookmark-container{
    display: flex;
    gap: 10px;
}

.player-bookmark {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "avatar info";
    grid-template-columns: 60px 170px;
}

.player-bookmark:hover {
    transform: scale(1.05);
}

.avatar {
    grid-area: avatar;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration:none;
    overflow-x: wrap;
    word-wrap: break-word;      /* Allows long words to break and wrap onto the next line */
    overflow-wrap: break-word;
}

.name {
    
    font-size: 16px;
    margin: 0;
    background: transparent;
    text-decoration:none;
    overflow-x: wrap;
}
