body h1,
body h2 {
  margin-bottom: 0;
}

nav {
  /* border-bottom: 1px solid var(--border-color); */
  justify-content: center !important;

  & ul {
    text-align: center;
  }
}

body main {
  max-height: calc(100vh - 100px);
  overflow-y: auto;

  padding: var(--spacing) !important;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: var(--spacing);

  & article {
    margin: 0;
    padding: var(--spacing);
    & > header {
      margin: calc(var(--spacing) * -1) calc(var(--spacing) * -1) var(--spacing);
      padding: var(--spacing);
    }
  }
}

/* Styles for light mode */
@media (prefers-color-scheme: light) {

  .lightGrey { /* player title and tab names */
    color:rgb(217, 217, 217);
  }

  .white { /* player name */
    color:white;
  }

  .gridEntry { /* text in hero cards */
    color: rgb(200, 200, 200);
  }

  .search-bar { /* box around search bar */
    border: 2px solid rgb(217, 217, 217);
  }

  .expandable:hover{
    box-shadow: 0 0 15px yellow;
  }
}