.player-banner{
    display: grid;
    grid-template-areas: 
    "banner banner banner"
    "avatar info ranks"
    "avatar bookmark ranks"
    "selector selector selector";
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: 50px auto auto;
    grid-template-columns: auto 2fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    align-self: stretch;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.ranks-grid{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
    column-gap: 10px;
}

.rank-icon{
    display: flex;
    align-items: center;
    justify-items: center;
}

.tab:hover{
    background-color: lightgrey;
    color: black;
    border-radius: 5px;
}

#BannerUsername {
    font-family: "BigNoodle";
    font-style: oblique;
    font-size: 50px;
    letter-spacing: 10px;
}

.rankCategory{
    font-family: "BankSansEF";
    font-style:oblique;
    font-weight: normal;
}

#playerTitle {
    font-family: "BankSansEf";
}